repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix, --config=./pre-commit-ruff.toml]
  - id: ruff-format
    args: [--line-length, "120"]
